/* player51.css
 *
 * Creates the style sheet for the Player51 web component.
 * Part of this style sheet is for actual functionality while other parts are
 * for look and feel.  These are denoted in the comments.
 *
 * Copyright 2017-2020, Voxel51, Inc.
 *
 * Jason Corso, jason@voxel51.com
 */


/* Look and Feel */
.p51-video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  opacity: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  background-image: linear-gradient(to top, rgb(55,55,55) 13%, rgb(33,33,33) 100%);
  background-image: -o-linear-gradient(to top, rgb(55,55,55) 13%, rgb(33,33,33) 100%);
  background-image: -moz-linear-gradient(to top, rgb(55,55,55) 13%, rgb(33,33,33) 100%);
  background-image: -webkit-linear-gradient(to top, rgb(55,55,55) 13%, rgb(33,33,33) 100%);
  background-image: -ms-linear-gradient(to top, rgb(55,55,55) 13%, rgb(33,33,33) 100%);

  background-image: -webkit-gradient(
    linear,
    to right to top,
    to right to bottom,
    color-stop(0.13, rgb(55,55,55)),
    color-stop(1, rgb(33,33,33))
  );
}

.p51-video-options-panel {
  position: relative;
  width: min-content;
  height: min-content;
  float: right;
  right: 2.5%;
  top: 5%;
  padding: 5px;
  opacity: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  display: grid;

  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  background-image: linear-gradient(to top, rgb(55,55,55) 13%, rgb(33,33,33) 100%);
  background-image: -o-linear-gradient(to top, rgb(55,55,55) 13%, rgb(33,33,33) 100%);
  background-image: -moz-linear-gradient(to top, rgb(55,55,55) 13%, rgb(33,33,33) 100%);
  background-image: -webkit-linear-gradient(to top, rgb(55,55,55) 13%, rgb(33,33,33) 100%);
  background-image: -ms-linear-gradient(to top, rgb(55,55,55) 13%, rgb(33,33,33) 100%);

  background-image: -webkit-gradient(
    linear,
    to right to top,
    to right to bottom,
    color-stop(0.13, rgb(55,55,55)),
    color-stop(1, rgb(33,33,33))
  );
}

.p51-video-opt-input {
  background: rgba(0,0,0,.5);
  border: 0;
  color: #EEE;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}

.p51-video-opt-input label {
  display: grid;
  justify-items: end;
  grid-template-columns: max-content 1fr;
}

.p51-video-controls button {
  background: rgba(0,0,0,.5);
  border: 0;
  color: #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}

.p51-video-controls button:hover {
  cursor: pointer;
}

.p51-play-pause {
  width: 15%;
  height: 80%;
}

.p51-video-options {
  width: 5%;
  height: 50%;
}

.p51-seek-bar {
  width: 75%;
  margin: 3px;
}

.controls-auto-size {
  min-height: 30px;
  max-height: 70px;
  height: 10%;
}


/* Functionality Parts.  Do not edit. */
.p51-contained-video, .p51-contained-image, .p51-contained-canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.p51-contained-canvas {
  z-index: 10;
}


.p51-gallery-right-nav,
.p51-gallery-left-nav {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   margin-top: -24px;
   background-color: rgba(0, 0, 0, 0.2);
   color: white;
   font-weight: bold;
   font-size: 25px;
   border-radius: 0 3px 3px 0;
   user-select: none;
   -webkit-user-select: none;
   height: auto;
}


.p51-gallery-right-nav:hover,
.p51-gallery-left-nav:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.p51-gallery-right-nav {
  right: 0;
  border-radius: 3px 0 0 3px;
}
