/* player51.css
 *
 * Creates the style sheet for the Player51 web component.
 * Part of this style sheet is for actual functionality while other parts are
 * for look and feel.  These are denoted in the comments.
 *
 * Copyright 2017-2020, Voxel51, Inc.
 *
 * Jason Corso, jason@voxel51.com
 */


/* Look and Feel */
.p51-video-controls {
  font-family: Arial, sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 20;
  padding-bottom: 0.25rem;
  display: grid;
  grid-template-columns: 1rem max-content max-content 1fr max-content max-content 1rem;
  grid-gap: 0.25rem;
  justify-items: center;
  align-items: center;

  color: #EEE;

  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
  background-color: rgba(33, 33, 33, 0.5);
}

.p51-video-controls * {
  color: #EEE;
}

.p51-video-controls img
{
  height: 1.75rem;
}

.p51-video-controls *,
.p51-video-controls .p51-material-icons
{
  font-size: 1.25rem;
}


.p51-video-options-panel {
  font-family: Arial, sans-serif;
  position: relative;
  width: min-content;
  height: min-content;
  padding: 5px;
  line-height: 1;
  opacity: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: #EEE;

  display: grid;

  background: rgba(33,33,33,0.75);

  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}

.p51-video-opt-input {
  background: rgba(0,0,0,.5);
  border: 0;
  color: #EEE;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}

.p51-video-opt-input label {
  display: grid;
  justify-items: end;
  grid-template-columns: max-content 1fr;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.p51-video-controls button {
  background: rgba(0,0,0,.5);
  border: 0;
  color: #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 3px;
  min-width: max-content;
  min-height: max-content;
  width: 10%;
  height: fit-content;
  padding: 1%;
}

.p51-video-controls button:hover {
  cursor: pointer;
}

.p51-play-pause {
  width: 15%;
  height: 80%;
}

/* seek bar stuff */
.p51-seek-bar {
  width: 100%;
  margin: 3px;
}
.p51-video-controls input[type=range] {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: rgb(175, 175, 175);
  outline: none;
  border: none;
}
.p51-video-controls input[type=range]:focus {
  outline: none;
  border: none;
}
.p51-video-controls input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: rgb(175, 175, 175);
}
.p51-video-controls input[type=range]::-webkit-slider-thumb, .p51-seek-bar {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: rgb(225, 100, 40);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
.p51-video-controls input[type=range]:hover::-webkit-slider-runnable-track {
  animate: 0.2s;
  height: 6px;
  background: rgb(200, 200, 200);
}
.p51-video-controls input[type=range]:hover::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: rgb(225, 100, 40);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.p51-video-controls input[type=range]::-moz-range-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: rgb(175, 175, 175);
  outline: 0;
  border: none;
}
.p51-video-controls input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: rgb(225, 100, 40);
  cursor: pointer;
  margin-top: -6px;
  outline: 0;
  border: none;
}
.p51-video-controls input[type=range]:hover::-moz-range-runnable-track {
  animate: 0.2s;
  height: 6px;
  background: rgb(200, 200, 200);
}
.p51-video-controls input[type=range]:hover::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: rgb(225, 100, 40);
  cursor: pointer;
  margin-top: -7px;
}
.p51-video-controls *:hover,
.p51-video-controls *:active,
.p51-video-controls *:focus {
  outline: none;
}
.p51-video-options-panel *:hover,
.p51-video-options-panel *:active,
.p51-video-options-panel *:focus {
  outline: none;
}

/* Hide the browser's default checkbox */
.p51-video-options-panel input {
  position: absolute;

  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.p51-label input[type=radio],
.p51-label input[type=checkbox] {
  top: 0;
  left: 0;
  opacity: 0;
}

.p51-radio {
  border-radius: 50%;
}

.p51-label .p51-radio,
.p51-label .p51-checkbox {
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: rgb(55, 55, 55);
  margin-left: 1rem;
}
.p51-label:hover input[type=radio] ~ .p51-radio,
.p51-label:hover input[type=checkbox] ~ .p51-checkbox {
  background: rgb(122, 122, 122);
}
.p51-label input[type=radio]:checked ~ .p51-radio,
.p51-label input[type=checkbox]:checked ~ .p51-checkbox {
  background: rgb(225, 100, 40);
}
.p51-radio:after,
.p51-checkbox:after {
  content: "";
  position: relative;
  display: none;
}
.p51-label input[type=radio]:checked ~ .p51-radio:after,
.p51-label input[type=checkbox]:checked ~ .p51-checkbox:after {
  display: block;
}

.p51-label .p51-checkbox:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: rgb(225, 100, 40);
}

.p51-label .p51-radio:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}



/* Functionality Parts.  Do not edit. */
.p51-contained-video, .p51-contained-image, .p51-contained-canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.p51-contained-canvas {
  z-index: 10;
}


.p51-gallery-right-nav,
.p51-gallery-left-nav {
  cursor: pointer;
  position: absolute;
  z-index: 20;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -24px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  height: auto;
}


.p51-gallery-right-nav:hover,
.p51-gallery-left-nav:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.p51-gallery-right-nav {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.p51-display-none {
  display: none;
}

.p51-clickable {
  cursor: pointer;
}
